<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleCredentailsPath" value="D:\uvic\IOT\Project\System\GoogleCredentails\credentials.json" />
    <add key="LocalStorageDirectory" value="D:\uvic\IOT\Project\System\FilesToUpload" />
    <add key="DriveFolderId" value="1ONABwwwmZ4tg-j79OsvmzYHIkyyhDR54" />
    <add key="SimulateError" value="True" />
  </appSettings>
</configuration>